@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: 'Canela Thin';
    src: url('/fonts/Canela-Thin.ttf') format('truetype');
    font-weight: 100; /* Adjust weight as per the font specification */
    font-style: normal;
  }

  @font-face {
    font-family: 'AkzidenzGroteskPro';
    src: url('/fonts/akzidenzgroteskpro_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'ananda';
    src: url('/fonts/AnandaNeptouch.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;

  }
  

  body {
    font-family: "Lato", serif;
  }
/* 

  
.gallery {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 100px;
}
.gallery__item img {
  width: 100%;
} */
/* 
.gallery {
  display: flex;
  gap: 20px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery-item img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
} */

/* 
.gallery{
  column-count: 3;
  column-gap: 24px;
}

.gallery-item{
  box-sizing: border-box;
  break-inside: avoid;
  counter-increment: item-counter;
  width: 100%;
  margin-bottom: 24px;
  display: inline-flex;
}


.gallery-item img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: px;
} */



.rdrDefinedRangesWrapper{
  display: none !important;
}

.rdrDateDisplayWrapper{
  display: none !important;
}

.rdrMonthAndYearPickers{
  font-family: "Canela Thin","serif";
  font-size: 20px;
  font-weight: 200 !important;
  letter-spacing: 0.1em;
  padding: 5px !important;
}

.rdrMonthName{
  font-family: "Canela Thin","serif";
  font-size: 30px;
  font-weight: 500 !important;
  padding: 8px !important;
  letter-spacing: 0.05em;
  text-align: center !important;
}

.rdrMonthAndYearWrapper{
  height: auto !important;
}

.rdrCalendarWrapper{
  font-size: 14px !important;
  padding: 20px !important;
}

.rdrCalendarWrapper{
  background-color: #f7f6f2;
}


.swiper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* padding: 10rem 0 !important; */
  /* background-color: red; */
}

.swiper-wrapper{
  align-items: center ;
  /* background-color: yellow; */
}

.swiper-slide {
  /* background-position: center; */
  /* background-size: cover; */
  opacity: 0 !important;
  transition: all 0.5s ease-in-out !important;
  width: 100% !important;
  height: 100% !important;
  /* background-color: red; */
}

.swiper-slide-active{
  opacity: 1 !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet{
  background-color: white !important;
  opacity: 1 !important;
  border-radius: 13px !important;
  transition: all 0.5s ease-in-out;
}
.swiper-pagination-bullet-active{
  width: 30px !important;
}

.font-canela *{
 font-family: "ananda", serif !important;
 background: transparent !important;
}


.bg-primary{
  /* background:url("/nepalipaper.png");*/
  /* background-size: cover;
  background-repeat: no-repeat; */
  position: relative;
  z-index: 1;
}

.bg-primary::before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(rgba(143, 94, 46, 0.3), rgba(143, 94, 46, 0.3)), 
    url('/nepalipaper.png');
    opacity: 0.9; /* Adjust opacity */
    z-index: -1;
    
    /* background-color: rgba(143, 94, 46, 0.9);  */
}

