@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: 'Canela Thin';
    src: url('/fonts/Canela-Thin.ttf') format('truetype');
    font-weight: 100; /* Adjust weight as per the font specification */
    font-style: normal;
  }

  @font-face {
    font-family: 'AkzidenzGroteskPro';
    src: url('/fonts/akzidenzgroteskpro_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  

  * {
    font-family: "Lato", serif;
  }